#dancePage main {
    margin-top: 200px
}

#dancePage a{
    text-decoration: none;
    color: white;
}

#dancePage h2 a{
    font-size: 35px;
}

#dancePage hr{
    border-top: 3px solid white;
    width: 55%;
}

#dancePage .navbar{
    padding: 0;
}
#dancePage .ultop{
    margin-top: 1em;
    margin-bottom: 0;
}

#dancePage .titleContainer{
    color: white;
    text-align: center;
}

#dancePage .titleContainerDetail{
    text-align: left;
}
#dancePage .titleContainer h1{
    color: white;
    text-align: center;
    font-size: 3rem;
}

#dancePage .calendarContainer h2{
    margin-top: 35px;
}

#dancePage .locationContainer, #dancePage .artistContainer, #dancePage .calendarContainer {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#dancePage .ticket{
    margin-bottom: 15px;
    font-size: 1.4rem;
}
#dancePage .ticket a{
    color: black;
}
#dancePage .schedule{
    font-size: 1.3rem;
}
#dancePage .ticket .btn{
    float: right;
}

#dancePage{
    color: white;
    background-size: 100% 100%;
    background: linear-gradient(160deg, rgba(11, 1, 71, 1) 0%, rgba(74, 1, 125, 1) 8%, rgba(112, 0, 73, 1) 13%, rgba(11, 1, 70, 1) 18%, rgba(4, 71, 112, 1) 32%, rgba(11, 1, 70, 1) 42%, rgba(114, 2, 125, 1) 51%, rgba(11, 0, 69, 1) 61%, rgba(240, 4, 127, 1) 69%, rgba(74, 1, 125, 1) 78%, rgba(11, 0, 69, 1) 87%, rgba(46, 88, 166, 1) 94%, rgba(248, 1, 64, 1) 100%) fixed;
    -webkit-font-smoothing: antialiased;
}