.topleft{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 183px;
    width: 226px;
    background-color: #FFFFFF;
    opacity: 0.85;
    clip-path: polygon(0 0, 100% 0, 178px 100%, 0 100%);
}

.topbar{
    width:1550px;
    height:60px;
    background-color: #363636;
    transform: skewX(-14deg);
    position:absolute; top: 0px;
    left: 218px;
    z-index: 15;
}

.ultop{
    list-style-type: none;
}

.top{
    display: inline-block;
}

.top a{
    position: relative;
    top: 4px;
    left:1331px;
    margin-left: -4px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 11px;
    font-family: "Arial", sans-serif;
    font-size: 24pt;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 22px;
}

.top a span{
    display: inline-block;
    transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    width: 121px;
    text-align: center;
}

.ultop li a:hover{
    background-color: #111;
    color: #FFFFFF;
}

.ultop .search-container {
    position: absolute;
    top: 17px;
    left: 1150px;
    transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
}

.ultop input[type=text] {
    padding: 3px;
    font-size: 17px;
    border: none;
}

.topright{
    position: absolute;
    left: 1687px;
    top: 0px;
    height: 183px;
    width: 216px;
    background-color: #363636;
    clip-path: polygon(49px 0, 100% 0, 100% 100%, 0 100%);
    z-index: 0;
}

nav.navbar {
    background-color: rgba(54, 54, 54, 0.75);
    height: 123px;
    transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    width: 1544px;
    position: absolute;
    top: 60px;
    left: 194px;
}

.ulnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.linav {
    display: inline-block;
}

.linav a {
    color: white;
    text-align: center;
    padding-top: 44px;
    padding-bottom: 43px;
    padding-right:23px;
    padding-left: 23px;
    margin-left: 20px;
    font-family: "Arial", sans-serif;
    font-size: 24pt;
    font-weight: bold;
    text-decoration: none;
    line-height: 124px;
}

.linav a span {
    display: inline-block;
    transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    width: 121px;
    text-align: center;
}

.linav a:hover {
    background-color: #111;
    color: #FFFFFF;
    height: 123px;
}

#homePage .homeButton{
    background: #FFFF00;
    color: #000000;
}

#dancePage .danceButton{
    background: #b51aff;
    color: #000000;
}

#jazzPage .jazzButton{
    background: #990000;
    color: #000000;
}