body{
    overflow-x: hidden;
}
.top-nav-container{
    background-color: #363636;
}

#top_nav{
    color: white;
}
#top_nav li:hover{
    background: black;
}

#new_nav{
    height: 123px;
    color: white;
}
.logo{
    padding: 18px;

}
.logo-container{
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.85);
    clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);

    margin-right: -1.1rem;
}

.bot-nav-container{
    background-color: rgba(54, 54, 54, 0.75);
}

.twist{
    transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
}

.untwist, #new_nav a span, #top_nav a span{
    transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
}
#new_nav div, #new_nav ul, #new_nav li{
    height: 100%;
}

#top_nav a, #new_nav a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Arial", sans-serif;
    font-size: 24pt;
    text-decoration: none;

    color: inherit;
}
#new_nav a{
    text-transform: uppercase;
    font-weight: bold;
}

#homePage .homeButton, .homeButton:hover{
    background: #FFFF00;
    color: black;
}
#dancePage .danceButton, .danceButton:hover{
    background: #b51aff;
    color: white;
}
#jazzPage .jazzButton, .jazzButton:hover{
    background: #990000;
    color: white;
}
#foodPage .foodButton, .foodButton:hover{
    background: #FF9E00;
    color: white;
}