<?php
if(!isset($_SESSION))
session_start();
?>
<header class="" style="" id="">
  <div class="topleft"></div>
  <div class="topbar">
    <ul class="ultop">
      <li class="top"><a href="login/new"><span>Login</span></a></li>
      <li class="top"><a href="cart/view"><span>Cart</span></a></li>
      <div class="search-container">
        <input type="text" placeholder="Search.." name="search">
      </div>
    </ul>
  </div>

  <div class="topright"></div>

  <nav class ="navbar">
    <ul class="ulnav">
      <li class="linav"><a class="active" href=><span>HOME</span></a></li>
      <li class="linav"><a href="jazz"><span>JAZZ</span></a></li>
      <li class="linav"><a href="dance"><span>DANCE</span></a></li>
      <li class="linav"><a href="food"><span>FOOD</span></a></li>
    </ul>
  </nav>
</header>