<?php
if(!isset($_SESSION))
//session_start();
?>
<header class="" style="" id="">
  <div class="topleft"></div>
  <div class="topbar">
    <ul class="ultop">
      <li class="top"><a href="login/new"><span>Login</span></a></li>
      <li class="top"><a href="/order/basket"><span>Basket</span></a></li>
    </ul>
  </div>

  <div class="topright"></div>

  <nav class ="navbar">
    <ul class="ulnav">
      <li class="linav"><a class="homeButton" href="/"><span>HOME</span></a></li>
      <li class="linav"><a class="jazzButton" href="jazz"><span>JAZZ</span></a></li>
      <li class="linav"><a class="danceButton" href="dance"><span>DANCE</span></a></li>
      <li class="linav"><a class="foodButton" href="food"><span>FOOD</span></a></li>
    </ul>
  </nav>
</header>