body{
    background-color: #990000;
    font-family: "Arial", sans-serif;
}

button{
  cursor:pointer;
}

.background{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
.backgroundText{
  position: absolute;
  top: 821px;
  left: 0px;
  width: 100%;
  background-color: rgb(54, 54, 54, 0.75);
  height: 123px;
  z-index: 1;
}

.jazzText{
  width: 40%;
  padding-left: 2%;
  color: white;
  font-size: 14pt;
}

.arrowDown{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.60);
  
  font-size: 60pt;
  position: absolute;
  top: 75px;
  left: 987px;
  transform: rotate(90deg);
  width: 20px;
  height: 20px;
}

.lineUpButton{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 283px;
    height: 86px;
    position: absolute;
    top: 974px;
    left: 659px;
}

.tab{
    display: inline-block;
    position: absolute;
    top: 974px;
    left: 625px;
    text-align: center;
}

.tab button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
    font-size: 36pt;
    border-radius: 10px;
    border-style: none;
    width: 283px;
    height: 86px;
    margin-left: 30px;
}

.tab button.active{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.tabDays{
  display: flex;
  position: relative;
  top: 955px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tabDays button{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 24pt;
  border-radius: 10px;
  border-style: none;
  width: 233px;
  height: 48px;
  margin-left: 10px;
}

.tabDays button.active{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.ticketsMenu{
    background-color: rgb(255, 255, 255, 0.80);
    border-radius: 25px;
    width: 1046px;
    height: 666px;
    position: absolute;
    top: 1214px;
    left: 434px;
    line-height: 1em;
    
}

.ticketsMenu a{
  font-size: 18pt;
}

.ticketsMenu li{
  list-style-type: none;
  margin-bottom: 10px;
}

.ticketsMenu button{
  background-color: transparent;
  border: none;
  width: 10px;
  text-align: center;
}

.ticketsMenu button i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add{
  color: #000000;
}

.allAccess{
    position: absolute;
    left: 80px;
    top: 50px;
}

.allAccess li{
  display:inline;
}

.priceAllAccess{
  position: absolute;
  left: 650px;
}

.dayTickets{
  position: absolute;
  left: 80px;
  top: 310px;
  font-size: 18pt;
}

.dayTickets li{
  display:inline;
}

.hall{
  position: absolute;
  left: 450px;
  width: 150px;
}

.priceDay{
  position: absolute;
  left: 650px;
}

.soldOut{
  position: absolute;
  left: 770px;
  width: 100px;
}

.addTicket{
  position: absolute;
  left: 770px;
  width: 100px;
}

.qtyTicket{
  width: 15px;
  text-align: center;
  background-color: transparent;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.dayTicketsHead{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 200px;
  text-align: center;
  font-size: 26pt;
  font-weight: bold;
}

.allAccessHead{
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
  font-size: 26pt;
  font-weight: bold;
}

.dashedLine{
  border:none;
  border-top:4px dotted #990000;
  margin-top: 200px;
}

.form-control{
  position: absolute;
  left: 1500px;
  top: 1000px;
  height: 25px;
  width: 175px;
}

/*line up page*/

.dayLineup{
  display: flex;
  position: absolute;
  top: 1130px;
  left: 0px;
  margin: auto;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.dayArtist{
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  background-color: rgb(255, 255, 255, 0.70);
  width: 343px;
  height: auto;
}

.dayName{
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
  width: 343px;
  height: 48px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 24pt;
  text-align: center;
  line-height: 48px;
}

.artist{
  background-color: #333333;
  position: relative;
  text-align: left;
  left: 31px;
  width: 280px;
  height: 23px;
  color: white;
}

.artistName{
  position: relative;
  left: 2px;
  top: 2px;
}

.artistTime{
  position: absolute;
  left: 200px;
  top: 2px;
}

.dayRow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dayFill{
  height: 30px;
}

.fill{
  background-color: rgb(255, 255, 255, 0.70);
  height: 40px;
  width: 343px;
}

.artistFilter{
  position: absolute;
  top: 1000px;
  left: 1500px;
}



/*artistpage*/

.artistContainer{
  background-color: #282828;
  position: absolute;
  top: 1100px;
  left: 0px;
  width: 100%;
  height: 950px;
  
}

.artistRow{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 75px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.artistColumn{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 600px;
  height: 400px;
}

.artistTimes{
  display: flex;
  flex-direction: column;
  font-size: 20pt;
  font-weight: bold;
  background-color: #000000;
  color: #FFFFFF;
  width: 600px;
  height: 400px;
}

.artistColumnEmpty{
  display: flex;
  flex-direction: column;
  background-color: #990000;
  color: #FFFFFF;
  width: 600px;
  height: 400px;
}

iframe{
  border-style: none;
}

.artistColumn h3{
  position: relative;
  left: 50px;
  font-size: 20pt;
  text-align: left;
  font-weight: bold;
}

.description{
  position: relative;
  left: 50px;
  display: flex;
  width: 500px;
  text-align: left;
  font-size: 14pt;
}

.concert{
  width: 450px;
  position: relative;
  left: 75px;
  top: 10px;
  margin-top: 15px;
  font-size: 14pt;
}

.dayNameArtist{
  float: left;
  font-weight: normal;
}

.concertTime{
  float: right;
  font-weight: normal;
}

.ticketLine{
  position: relative;
  top: 100px;
  border:none;
  border-top:4px #FFFFFF;
}

.ticketsButton{
  background-color: black;
  border-style: none;
  color: #FFFFFF;
  font-size: 20pt;
  font-weight: bold;
  position: absolute;
  top: 300px;
  left: 61%;
}

.backButton{
  position: absolute;
  right: 25px;
  top: 20px;
  
}

