.logo{
  position: absolute;
  z-index: 30;
  left: 17px;
  top: 10px;
}

.topleft{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 183px;
  width: 226px;
  background-color: #FFFFFF;
  opacity: 0.85;
  clip-path: polygon(0 0, 100% 0, 178px 100%, 0 100%);
}

.topbar{
  width:1550px;
  height:60px;
  background-color: #363636;
  transform: skewX(-14deg);
  position:absolute; top: 0px;
  left: 218px;
  z-index: 15;
}

.ultop{
  list-style-type: none;
}

.top{
  display: inline-block;
}

.top a{
  position: relative;
  top: 4px;
  left:1331px;
  margin-left: -4px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 11px;
  font-family: "Arial", sans-serif;
  font-size: 24pt;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 22px;
}

.top a span{
    display: inline-block;
    transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    width: 121px;
    text-align: center;
}

.ultop li a:hover{
  background-color: #111;
  color: #FFFFFF;
}

.ultop .search-container {
  position: absolute;
  top: 17px;
  left: 1150px;
  transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
}

.ultop input[type=text] {
  padding: 3px;
  font-size: 17px;
  border: none;
}

.topright{
  position: absolute;
  left: 1687px;
  top: 0px;
  height: 183px;
  width: 216px;
  background-color: #363636;
  clip-path: polygon(49px 0, 100% 0, 100% 100%, 0 100%);
  z-index: 0;
}

nav.navbar {
    background-color: rgba(54, 54, 54, 0.75);
    height: 123px;
    transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    width: 1544px;
    position: absolute;
    top: 60px;
    left: 194px;
}

.ulnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.linav {
    display: inline-block;
}

.linav a {
    color: white;
    text-align: center;
    padding-top: 44px;
    padding-bottom: 43px;
    padding-right:23px;
    padding-left: 23px;
    margin-left: 20px;
    font-family: "Arial", sans-serif;
    font-size: 24pt;
    font-weight: bold;
    text-decoration: none;
    line-height: 124px;
}

.linav a span {
    display: inline-block;
    transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    width: 121px;
    text-align: center;
  }

.linav a:hover {
    background-color: #111;
    color: #FFFFFF;
    height: 123px;
}

.linav .active {
    background: #FFFF00;
    color: #000000;
}

.background{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
.backgroundText{
  position: absolute;
  top: 821px;
  left: 0px;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.75);
  height: 123px;
  z-index: 1;
}

.introductionText{
  padding-left: 2%;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 14pt;
}

.arrowDown{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.60);
  font-family: "Arial", sans-serif;
  font-size: 60pt;
  position: absolute;
  top: 75px;
  left: 977px;
  transform: rotate(90deg);
  width: 20px;
  height: 20px;
}

.row{
  display: flex;
  position: absolute;
  top: 1100px;
  left: 50%;
  margin-left: -675px;
}

.column {
  flex: 33.33%;
}

.jazz{
  background-color: #990000;
  height: 300px;
}

.food{
  background-color: #FF9900;
  height: 300px;
}

.dance{
  background-color: #000099;
  height: 300px;
}

.detailTitle{
  color: #FFFFFF;
  font-family: "Arial", sans-serif;
  font-size: 28pt;
  font-weight: bold;
  position: relative;
  top: 30px;
  left: 70px;
}

.detailText{
  color: #FFFFFF;
  font-family: "Arial", sans-serif;
  font-size: 14pt;
  position: relative;
  top: 10px;
  left: 70px;
}

