# Default ignored files
/workspace.xml
# Datasource local storage ignored files
/dataSources/

# Datasource local storage ignored files
/dataSources.local.xml
/php.xml
/misc.xml
/modules.xml
/php.xml
/sqldialects.xml
/vcs.xml
/workspace.xml
